<section class="header_sec">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="cursor: pointer;width: 100%;
        max-width: 10%;">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRYmYEt09mSSYdz-ss-vgFSS_5q-il13S9HQ&usqp=CAU"
          style="border-radius: 100%;width: 100%;height: auto; margin-left: 480px;"><p style="color: antiquewhite; text-align: center;margin-left: 455px;">The Bank of Asia</p></a>
  </nav>
  </div>
</section>