<div class="container">
  <div class="menu">
    <div class="hexagon_container" id="logo">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
          <div class="hexagon-in2 active">
            <h2>Bank of Asia</h2>             	 	
          </div>
        </div>
      </div>					
    </div>
    <div class="hexagon_container" id="team">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1" >
          
            <div class="hexagon-in2" routerLink="/profile">
              <i class="fa fa-user"></i>
              <h2>Customers</h2>           	 	
            </div>
          <!-- </a> -->
        </div>
      </div>				
    </div>
    <div class="hexagon_container" id="services">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1" routerLink='/dashboard'>
          <!-- <a href="services.html"> -->
            <div class="hexagon-in2">
              <i class="fa fa-money"></i>
              <h2>Add Funds</h2>             	 	
            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>		
    <div class="hexagon_container" id="contact">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
          <!-- <a href="contact.html"> -->
            <div class="hexagon-in2" routerLink="/login">
              <i class="fa fa-exchange"></i>
              <h2>Transfer Funds</h2>             	 	
            </div>
          <!-- </a> -->
        </div>
      </div>						
    </div>
  </div>